body {
  font: 14px Helvetica, sans-serif;
  margin: 0 auto;
  background-color: black;
  color: white; 
}

.theme_1 {
  background-color: orange;
}
.theme_2 {
  background-color: lightpink;
}
.theme_3 {
  background-color: lightseagreen;
}
.theme_4 {
  background-color: tomato;
}
.theme_5 {
  background-color: darkolivegreen;
}
.theme_6 {
  background-color: lightslategray;
}
.theme_1 {
  background-color: orange;
}
.theme_2 {
  background-color: lightpink;
}
.theme_3 {
  background-color: lightseagreen;
}
.theme_4 {
  background-color: cornflowerblue;
}
.theme_5 {
  background-color: darkolivegreen;
}
.theme_6 {
  background-color: slategray;
}
.theme_7 {
  background-color: indianred;
}
.theme_8 {
  background-color: #8a4ca8;
}

.game-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}

ul {
  position: relative;
  right: 12px;
}

h1 {
  font-weight: bold;
  font-size: 64px;
  font-style: italic;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 12px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board {
  position: relative;
  right: 10px;
  top: 10px;
}

.square {
  background-color: transparent;
  border: 8px solid white;
  float: left;
  font-size: 82px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -16px;
  margin-top: -16px;
  padding: 0;
  padding-bottom: 10px;
  text-align: center;
  font-style: normal;
  color: white;
  width: 102px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: 4px solid white;
  color: white;
  padding: 16px 16px;
  margin: 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

li {
  list-style-type: none;
  display: inline-block;
}